$font-stack:    Helvetica, sans-serif;
$primary-color: #000;
$main-color: #FFF;
$accent-color: #D2C8B4;
$slider-height: 20px;
$handle-height: 24px;
$canvas-size: 500px;

html, body, #container {
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
}

button {
  border: 0;
  background-color: $accent-color;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: darken($accent-color, 20%);
}

input {
  border: solid 1px $accent-color;
}

input:focus {
  outline: 1px $accent-color solid;
}

#left {
  width: 30%;
  height: 100%;
  float: left;
  position: relative;
  .sliders, #texture-list {
    width: 70%;
    margin: 10px auto;
  }
}

#right {
  width: 30%;
  height: 100%;
  float: right;
}

#center {
  width: 60%;
  height: 100%;
  float: left;
  position: relative;
  background-color: $primary-color;
}

.handle {
  width: 5px;
  height: $handle-height;
  background-color: $primary-color;
  opacity: 0.3;
  margin-top: -($handle-height - $slider-height)/2;
}

.slider {
  cursor: pointer;
}

#sliders-color {
  .slider {
    width: 100%;
    height: $slider-height;
    margin: 10px auto;
  }
}

#sliders-alpha, #sliders-blur, #sliders-size, #sliders-undo {
  .slider {
    background-color: $accent-color;
    width: 100%;
    height: $slider-height;
  }
}

#texture-list ul {
  width: 100;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  li {
    margin-bottom: 5px;
    cursor: pointer;
  }
}

.texture {
  width: 30px;
  height: 30px;
}

.texture.selected {
  border: solid 2px $accent-color;
  margin: -2px;
}

button#registration-open-button {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}

#brush-sample {
  width: 100%;
  height: 300px;
}

#face-container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: $canvas-size;
  height: $canvas-size + 40;
  canvas#face {
    display: block;
    cursor: crosshair;
  }
}

#sliders-undo {
  margin-top: 20px;
  .slider{
    .handle {
      opacity: 0.7;
      background-color: $main-color;
    }
  }
}

div#face-img {
  margin-top: -500px;
  width: 500px;
  height: 500px;
  border: solid 1px $main-color;
  background-image: url('../img/face.jpg');
}

#registration-pane {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  #registration-container {
    width: 550px;
    height: 250px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    div#registration-input {
      padding-top: 20px;
      width: 550px;
      height: 200px;
      text-align: center;
      font-size: small;
      input {
        display: block;
        width: 200px;
        height: 20px;
        margin: 20px auto;
      }
    }
    div#registration-button {
      margin-top: 20px;
      text-align: center;
      button {
        width:  150px;
        height: 30px;
        margin: 0 10px;
      }
    }
  }
}

#registration-pane.dragging-over {
  background-color: rgba($accent-color, 0.6);
}

#cosme-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: small;
  cursor: pointer;
  li {
    padding: 15px 80px;
    border-bottom: solid 1px $accent-color;
  }
  li:hover {
    border-left: solid 5px $accent-color;
  }
}
