$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$slider-height: 20px;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#ui {
  position: relative;
}

.slider {
  width: 100%;
  max-width: 255px;
  height: $slider-height;
}

.handle {
  width: 5px;
  height: $slider-height;
  background-color: rgba(255, 255, 255, 0.7);
}

.sliders-color-back {
  margin-top: -$slider-height;
  width: 100%;
  max-width: 255px;
  height: 20px;
}

#sliders-alpha, #sliders-blur, #sliders-size, #sliders-undo {
  .slider {
    background-color: $primary-color;
  }
}

.texture {
  width: 50px;
  height: 50px;
}

#brush-container {
  position: relative;
  width: 300px;
  height: 300px;
  .brush {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

div#face-img {
  margin-top: -500px;
  width: 500px;
  height: 500px;
  background-image: url('../img/face.jpg');
}

#registration-pane {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

#registration-pane.dragging-over {
  border: solid 10px;
}
